* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav: #11001c;
  --purple: #3a015c;
  --magenta: #4f0147;
  --brown: #35012c;
  --dark: #290025;
  --font: #eeeeee;
}

body {
  background-color: var(--nav);
}

/* Header */

.header-custom {
  color: var(--font);
  padding: 35px;
  position: relative;
  border-bottom: 10px solid var(--magenta);
}

.header-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/img/mayra-mobile.jpg");
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
}

.header-custom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--magenta);
  opacity: 0.5;
}

h1 {
  font-size: 55px;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: transparent;
}

.about-me {
  font-size: 19px;
  text-align: center;
  padding: 10px;
}

/* Skills */

.skills {
  padding: 45px;
  font-size: 40px;
  text-align: center;
  background-color: var(--brown);
  color: #eeeeee;
}

.icons {
  padding-top: 25px;
}

.icons img {
  width: 75px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.icons img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Projects */

.projects {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  background-color: var(--dark);
  color: #eeeeee;
  position: relative;
}

.projects .container {
  position: relative;
  display: inline-block;
}

/* Projects Images */

.projects img {
  width: 350px;
  padding: 20px;
  transition: filter 0.3s ease-in-out;
}

.projects .container:hover .image {
  filter: blur(5px);
}

.projects .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.projects .container:hover .overlay {
  opacity: 1;
}

.projects .icon {
  color: var(--font);
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container img {
  border-radius: 50px;
}

/* Contact */

form {
  max-width: 300px;
  margin: 50px auto;
}

.contact {
  background-color: var(--brown);
  height: 80vh;
}

.contact h3 {
  font-size: 50px;
}

.contact-message {
  font-size: 20px;
  text-align: center;
  color: var(--font);
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: var(--magenta);
  line-height: 22px;
  background-color: black;
  border: 2px solid var(--magenta);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid var(--magenta);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: var(--dark);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: var(--font);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  border: 2px solid var(--magenta);
}
[type="submit"]:hover {
  background: var(--magenta);
  color: var(--font);
}

/* Footer */
.footer {
  left: 0;
  bottom: 0;
  padding: 14px;
  background-color: var(--dark);
  color: white;
  text-align: center;
  border-top: 10px solid var(--magenta);
}

.footer i {
  width: 50px;
  font-size: 35px;
  color: var(--font);
  padding-top: 40px;
}

a:link,
a:visited {
  text-decoration: none;
}

/* Media queries */

@media only screen and (min-width: 600px) {

  /* Header
   */
  .header-custom {
    background-image: url("/img/mayra-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 50vh;
  }

  h1 {
    font-size: 100px;
  }

  h3 {
    font-size: 45px;
  }

  .about-me {
    font-size: 40px;
  }

  /* Skills */

  .icons img {
    width: 100px;
  }

  /* Contact */

  form {
    max-width: 450px;
    margin: 50px auto;
  }

  /* Footer */

  .footer i {
    padding-top: 18px;
    width: 80px;
    font-size: 50px;
  }


}
